body {
    background-color: black;
    font-size: 22px;
    margin: 0 auto;
    color: #938F8E;
    font-family: escapist;
    text-align: center;
}

@keyframes socialLink 	{from {color:#938F8E;}
                                    to {color:white;}}
                                    
.container {
    display: flex;
}

@font-face {
    font-family: escapist;
    src: url(resources/din-condensed-bold.ttf);
    font-weight: normal;
}

header {
    width: 100%;
    height:4.45em;
    position: absolute;
    top: 0;
    background-color: #064846;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    margin-left: 0.75em;
    height:4.45em;
    width:4.45em;
    margin-top: 0.25em;
}

header a {
    margin-right: 0.75em;
    color: #938F8E;
    font-size: 3.0em;
}

header a:hover {animation-name:socialLink;
    animation-duration: 2s;
    animation-interation-count:1;
    animation-fill-mode:forwards;}

#banner {
    width: 100%;
    height: 700px;
    margin-top: 4.45px;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

#banner-title {
    background-color: #064846;
    font-size: 3.75em;
    width:50%;
    height:auto;
}

#description {
    text-align: center;
    margin: 1.25em;
    justify-content: center;
    line-height: 1.75em;
}

#pics {
    width: 54.54em;
    height:36.36em;
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    
}

#pics img {
    width: 27.27em;
    height:18.18em;
}


#reviews i {
    color: gold
}

#details {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.0em;
    background-image: url(images/bottom.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    width:100%;
    height: 24.00em;
    flex-shrink: inherit;
}

#details-col {
    flex-direction: row;
justify-content: space-between;
align-items: center;
}

#location, #map, #opening {
    background-color: #064846;
    padding: 0 1.0em;
} 



Footer {
width: 100%;
height:2.0em;
bottom: 0;
background-color: #064846;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}


footer a {
    text-decoration: none;
    color: #938F8E;
}

@media only screen and (max-width: 650px) {

    header {
        height: 3.45em;
    }

    header img {
        margin-left: 0.75em;
        height:3.45em;
        width:3.45em;
    }

    header a {
        margin-right: 0.75em;
        color: #938F8E;
        font-size: 2.0em;
    }

    #banner-title {
        width: auto;
        font-size: 2.5em;
        padding: 0 20px;
    }

    #description {
        font-size: 0.85em;
    }

    #pics {
        display: flex;
        flex-direction: column;
        width: auto;
        height:auto;
        margin-left:4.0em
        
    }

    #pics img {

        width:18.18em;
        height: 13.13em;
    }

    .hidden-pic {
        display: none;
    }

    #reviews {
        font-size:0.85em
    }

    #details {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height:auto;
    }

    #details-col {
        background-color: #064846;
    }

   
}


